{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title | safe }}
{% endblock %}

{% block content %}

<script type="application/ld+json">{{ seoMetadata | dump | safe }}</script>

<div class="govuk-grid-row court-tribunal-details">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      {{ results.name }}
    </h1>

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        {% for address in results.addresses %}
          {% if results.addresses.length > 1 %}
            <div class="govuk-grid-column-one-half multiple-addresses">
              <h2 class="govuk-heading-l">
                {{ address.type }}:
              </h2>
          {% else %}
            <h2 class="govuk-heading-l single-address">
              {{ address.type }}:
            </h2>
            <h3 class="govuk-heading-m">
              {{ addressHeading }}
            </h3>
          {% endif %}
            <p class="govuk-body-m address">
              {% for addressLine in address.address_lines %}
                {{ addressLine }}<br>
              {% endfor %}
              {{ address.town }}<br>
              {{ address.postcode }}
            </p>
          {% if results.addresses.length > 1 %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="govuk-grid-row">
        <p class="govuk-body-m" id="direction-map">
          <a class="govuk-link" href="https://maps.google.com/maps?q={{ results.lat }},{{ results.lon }}">{{ directionsText }}</a>
        </p>
        <p class="govuk-body-m">
          <a class="govuk-link" href="{{ visitingExpectationLink }}">{{ visitingExpectationText }}</a>
        </p>
      </div>
      {% if results['urgent_message'] %}
        <div id="urgent-message" class="govuk-grid-row" style="padding: 10px 0; margin: 0 0 30px">
          <div class="warning-symbol" style="position: relative;">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          </div>
          <div>
            <strong class="govuk-warning-text__text" style="padding-left: 45px;">{{ results['urgent_message'] | safe }}</strong>
          </div>
        </div>
      {% endif %}

      {% if results.info %}
        <div class="govuk-grid-row" id="additional-info">
          <h3 class="govuk-heading-m">
            {{ additionalInfoHeading }}
          </h3>
          <div class="govuk-body-m">
            {{ results.info | safe }}
          </div>
        </div>
      {% endif %}

      {% if results['opening_times'] and results['opening_times'].length > 0%}

        <div class="govuk-grid-row" id="opening-times">
          <h3 class="govuk-heading-m">
            {{ openingTimesHeading }}
          </h3>
            <dl class="govuk-summary-list">
              {% for times in results['opening_times'] %}
                <div class="govuk-summary-list__row">
                  <dd class="govuk-summary-list__key">
                    {{ times.description }}
                  </dd>
                  <dd class="govuk-summary-list__value">
                      <p class="govuk-body-m">
                        {{ times.hours }}
                      </p>
                  </dd>
                </div>
              {% endfor %}
            </dl>
        </div>
      {% endif %}

      {% if results.emails and results.emails.length > 0 %}
        <div class="govuk-grid-row" id="emails">
          <h3 class="govuk-heading-m">
            {{ emailHeading }}
          </h3>
            <dl class="govuk-summary-list">
              {% for email in results.emails %}
                <div class="govuk-summary-list__row">
                  <dd class="govuk-summary-list__key">
                    {{ email.description }}
                  </dd>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link" href="mailto:{{ email.address }}">{{ email.address }}</a>
                    {% if email.explanation %}
                      <p class="govuk-body-m">({{ email.explanation }})</p>
                    {% endif %}
                  </dd>
                </div>
              {% endfor %}
            </dl>
        </div>

      {% endif %}

      {% if results.contacts and results.contacts.length > 0 %}
        <div class="govuk-grid-row" id="contacts">
          <h3 class="govuk-heading-m">
            {{ telephoneHeading }}
          </h3>
            <dl class="govuk-summary-list">
              {% for telephone in results.contacts %}
                <div class="govuk-summary-list__row">
                  <dd class="govuk-summary-list__key">
                    {{ telephone.description }}
                  </dd>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link" href="tel:{{ telephone.number }}">{{ telephone.number }}</a>
                    {% if telephone.explanation %}
                      <p class="govuk-body-m">({{ telephone.explanation }})</p>
                    {% endif %}
                  </dd>
                </div>
              {% endfor %}
            </dl>
        </div>
      {% endif %}

      {% if results.facilities.length > 0%}
        <div class="govuk-grid-row" id="building-facilities">
          <h3 class="govuk-heading-m">
            {{ buildingFacilitiesHeading }}
          </h3>
          <p class="govuk-body-m">
            {{ buildingFacilitiesP1 }}
            {% if results.enquiries.email or results.enquiries.phone.length > 0 %}
              {% if results.enquiries.email and results.enquiries.phone.length > 0 %}
                <a class="govuk-link" href="mailto:{{ results.enquiries.email.address }}">{{ results.enquiries.email.address }}</a>
                {{ buildingFacilitiesMultipleContacts }} {{ results.enquiries.phone[0].number }}&#46;
              {% elif results.enquiries.email %}
                <a class="govuk-link" href="mailto:{{ results.enquiries.email.address }}">{{ results.enquiries.email.address }}</a>&#46;
              {% elif results.enquiries.phone.length > 0 %}
                 {{ results.enquiries.phone[0].number }}&#46;
              {% endif %}
            {% else %}
              {{ buildingFacilitiesContactsUs }}
            {% endif %}
          </p>

          <dl class="govuk-summary-list">
            {% for facility in results.facilities %}
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__key">
                  <h4 class="govuk-heading-s">
                    {{ facility.name }}
                  </h4>
                </dd>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body-m">
                    {{ facility.description }}
                  </p>
                </dd>
              </div>
            {% endfor %}
          </dl>

          <h4 class="govuk-heading-s">
            {{ translatorsOrInterpretersHeading }}
          </h4>
          <p class="govuk-body-m">
            <a href="https://www.gov.uk/get-interpreter-at-court-or-tribunal">{{ translatorsOrInterpretersText }}</a>
          </p>
        </div>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third side-content">
      {% if results['image_file'] %}
        <div class="govuk-grid-row">
          <img src="{{ results.image_file }}" alt="">
          <p class="govuk-body-s">
            {{ results.name }}
          </p>
        </div>
      {% endif %}

      {% if (results['areas_of_law'] and results['areas_of_law'].length > 0) or (results.additionalLinks.findOutMoreAbout and results.additionalLinks.findOutMoreAbout.length) %}
        <div class="govuk-grid-row" id="areas-of-law">
          <h3 class="govuk-heading-m">
            {{ areasOfLawHeading }}:
          </h3>
          <ul class="govuk-list">
            {% for area in results['areas_of_law'] | sort(attribute="name") %}
              {% if area['display_name'] %}
                {% set displayName = area['display_name'] %}
              {% else %}
                {% set displayName = area.name %}
              {% endif %}
              {% if area['display_external_link'] %}
                {% set externalLink = area['display_external_link'] %}
              {% else %}
                {% set externalLink = area['external_link'] %}
              {% endif %}
              <li>
                {% if externalLink %}
                  <a class="govuk-link" href="{{ externalLink }}">{{ displayName }}</a>
                {% else %}
                  <p>
                     {{displayName}}
                  </p>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if results.additional_links and results.additional_links.length %}
        <div class="govuk-grid-row" id="find-out-more-about">
          <h3 class="govuk-heading-m">
            {{ findOutMoreAboutHeading }}:
          </h3>
          <ul class="govuk-list">
            {% for additionalLink in results.additional_links %}
              <li>
                <a class="govuk-link" href="{{ additionalLink.url }}">{{ additionalLink.description }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="govuk-grid-row">
        <h3 class="govuk-heading-m">
          {{ complaintHeading }}:
        </h3>
        <p class="govuk-body-m">
          <a class="govuk-link" href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">{{ complaintText }}</a>
        </p>
      </div>

      {% if results.crown_location_code or results.county_location_code or results.magistrates_location_code or (results['dx_number'] and results['dx_number'].length > 0) %}
        <div class="govuk-grid-row" id="location-codes">
          <h3 class="govuk-heading-m">
            {{ courtCodesHeading }}:
          </h3>
          {% if results.crown_location_code %}
            <p class="govuk-body-m">
              {{ crownCourtCodeText }}: <span class="govuk-body-m">{{ results.crown_location_code }}</span>
            </p>
          {% endif %}
          {% if results.county_location_code %}
            <p class="govuk-body-m">
              {{ countyCourtCodeText }}: <span class="govuk-body-m">{{ results.county_location_code }}</span>
            </p>
          {% endif %}
          {% if results.magistrates_location_code %}
            <p class="govuk-body-m">
              {{ magistratesCourtCodeText }}: <span class="govuk-body-m">{{ results.magistrates_location_code }}</span>
            </p>
          {% endif %}
          {% if results['dx_number'] and results['dx_number'].length > 0 %}
            {% for dx in results['dx_number'] %}
              <p class="govuk-body-m dx-number">
                DX: <span class="govuk-body-m">{{ dx }}</span>
              </p>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      <div class="govuk-grid-row" id="access-scheme">
        <h3 class="govuk-heading-m">
          {{ accessSchemeHeading }}
        </h3>
        {% if results['access_scheme'] %}
          <p class="govuk-body-m">
            {{ registerACText }}
          </p>
          <a class="govuk-link govuk-body-m" href="https://www.gov.uk/guidance/professional-users-court-and-tribunal-access-scheme">
            {{ registerACLink }}
          </a>
        {% else %}
          <p class="govuk-body-m">
            {{ learnACText }}
          </p>
          <a class="govuk-link govuk-body-m" href="https://www.gov.uk/guidance/professional-users-court-and-tribunal-access-scheme">
            {{ learnACLink }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
