{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row court-tribunal-details">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      {{ results.name }}
    </h1>

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <div id="not-in-person">
          <p class="govuk-body-m">
            {{ notInPersonP1 }}
          </p>
          <h2 class="govuk-heading-l postal-address">
            {{ contactUsHeading }}
          </h2>
          {% if results.addresses[0] %}
            <h3 class="govuk-heading-m">
              {{ results.addresses[0].type }}:
            </h3>
            <p class="govuk-body-m address">
              {% for addressLine in results.addresses[0].address_lines %}
              {{ addressLine }}<br>
              {% endfor %}
              {{ results.addresses[0].town }}<br>
              {{ results.addresses[0].postcode }}
            </p>
          {% endif %}
        </div>
      </div>

      {% if results['urgent_message'] %}
        <div class="govuk-grid-row" id="urgent-message">
          {{ govukWarningText({
            text: results['urgent_message'],
            iconFallbackText: "Warning"
          }) }}
        </div>
      {% endif %}

      {% if results.info %}
        <div class="govuk-grid-row" id="additional-info">
          <h3 class="govuk-heading-m">
            {{ additionalInfoHeading }}
          </h3>
          <p class="govuk-body-m">
            {{ results.info | safe }}
          </p>
        </div>
      {% endif %}

      {% if results.enquiries and results.enquiries.phone.length > 0 %}
        <div class="govuk-grid-row .contacts" id="contacts">
          <h4 class="govuk-heading-s">
            {{ telephoneAndFaxHeading }}
          </h4>
          {% for telephone in results.enquiries.phone %}
            <p class="govuk-body-m">
              {{ telephoneHeading }}: {{ telephone.number }}<br>
              {{ telephone.explanation }}
            </p>
          {% endfor %}
          {% for telephone in results.enquiries.welshPhone %}
          <p class="govuk-body-m">
            {{ telephoneHeadingWelsh }}: {{ telephone.number }}<br>
            {{ telephone.explanation }}
          </p>
          {% endfor %}
          <p class="govuk-body-m">
            Fax: {{ results.enquiries.fax.number }}
          </p>
          <p class="govuk-body-m">
            <a class="govuk-link" href="https://www.gov.uk/call-charges">
              {{ callCharges }}
            </a>
          </p>
          <p class="govuk-body-m">
            <a class="govuk-link" href="https://www.gov.uk/guidance/hmcts-civil-business-centres-performance-information">
              {{ processingTimes }}
            </a>
          </p>
        </div>
      {% endif %}

      {% if results.enquiries.email %}
        <div class="govuk-grid-row .emails" id="emails">
          <h4 class="govuk-heading-s">
            {{ emailHeading }}
          </h4>
          <p class="govuk-body-m">
            {{ sendUsYourDocuments }}: <a class="govuk-link" href="mailto:{{ results.enquiries.email.address }}">{{ results.enquiries.email.address }}</a><br>
            {{ updates }}: <a class="govuk-link" href="mailto:{{ results.enquiries.email.address }}">{{ results.enquiries.email.address }}</a>
          </p>
        </div>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third side-content">
      {% if results['areas_of_law'] and results['areas_of_law'].length > 0 %}
        <div class="govuk-grid-row" id="areas-of-law">
          <h3 class="govuk-heading-m">
            {{ areasOfLawHeading }}:
          </h3>
          <ul class="govuk-list">
            {% for area in results['areas_of_law'] | sort(attribute="name") %}
              {% for serviceArea in area['service_areas'] | sort(attribute="name") %}
              <li>
                {% if area.external_link %}
                  <a class="govuk-link" href="{{ area.external_link }}">{{ serviceArea.name }}</a>
                {% else %}
                  {{ serviceArea.name }}
                {% endif %}
              </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="govuk-grid-row">
        <h3 class="govuk-heading-m">
          {{ complaintHeading }}:
        </h3>
        <p class="govuk-body-m">
          <a class="govuk-link" href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">{{ complaintText }}</a>
        </p>
      </div>

      {% if results.crown_location_code or results.county_location_code or results.magistrates_location_code or (results['dx_number'] and results['dx_number'].length > 0) %}
        <div class="govuk-grid-row" id="location-codes">
          <h3 class="govuk-heading-m">
            {{ courtCodesHeading }}:
          </h3>
          {% if results.crown_location_code %}
            <p class="govuk-body-m">
              {{ crownCourtCodeText }}: <span class="govuk-body-m">{{ results.crown_location_code }}</span>
            </p>
          {% endif %}
          {% if results.county_location_code %}
            <p class="govuk-body-m">
              {{ countyCourtCodeText }}: <span class="govuk-body-m">{{ results.county_location_code }}</span>
            </p>
          {% endif %}
          {% if results.magistrates_location_code %}
            <p class="govuk-body-m">
              {{ magistratesCourtCodeText }}: <span class="govuk-body-m">{{ results.magistrates_location_code }}</span>
            </p>
          {% endif %}
          {% if results['dx_number'] and results['dx_number'].length > 0 %}
            {% for dx in results['dx_number'] %}
              <p class="govuk-body-m dx-number">
                DX: <span class="govuk-body-m">{{ dx }}</span>
              </p>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
