.court-tribunal-details {
  word-wrap: break-word;

  .side-content {
    padding: 0 30px;

    img {
      max-width: 400px;
      width: 100%;
    }
  }

  .multiple-addresses {
    padding-left: 0;
  }

  .urgent-message {
    margin: 0 0 30px;
    padding: 10px 0;
  }

  .warning-symbol-div {
    position: relative;
  }

  .urgent-message-text {
    padding-left: 45px;
  }
}




