.court-tribunal-details {
  word-wrap: break-word;

  .side-content {
    padding: 0 30px;
    img {
      width: 100%;
      max-width: 400px;
    }
  }

  .multiple-addresses {
    padding-left: 0;
  }
}
