@import '~govuk-frontend';
@import 'court-details';
@import 'postcode-results';

// sass-lint:disable class-name-format
.govuk-phase-banner__text {
  width: 100%;

  .fact-language {
    float: right;
  }
}

.global-cookie-message {
  background-color: govuk-colour('light-grey');
  padding: 10px 30px;

  p {
    margin-bottom: 0;
  }
}
