{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "macros/error-summary.njk" import errorSummary %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link" onclick="goBack(event);">Back</a>
{% endblock %}

{% block content %}
{% if errors %}
  {{ errorSummary(error.title, error.text, "#nearest-court") }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST">
      {{ govukRadios({
        idPrefix: "choose-action",
        name: "chooseAction",
        fieldset: {
          legend: {
            text: question,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        hint: {
          text: hint
        },
        errorMessage: { text: error.text | safe } if errors,
        items: [
          {
            id: "nearest-court",
            text: answers.a1,
            value: "nearest"
          },
          {
            id: "document-court",
            text: answers.a2,
            value: "documents"
          },
          {
             id: "update-court",
             text: answers.a3,
             value: "update"
          },
          {
             divider: "or"
          },
          {
             id: "not-listed",
             text: answers.a4,
             value: "not-listed"
          }
        ]
      }) }}
      {{ govukButton({
        text: button,
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
