{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ h1 }}
  </h1>
  <div class="cookie-preference-success">
    <div class="success-message" aria-labelledby="success-title" role="alert" tabindex="-1">
      <h2 class="govuk-heading-m">
        {{ saved }}
      </h2>
      <div>
        <p class="govuk-body-m">{{ additionalCookies }}</p>
      </div>
      <a class="govuk-link" href="/">{{ homePageLink }}</a>
    </div>
  </div>
  <p class="govuk-body-m">{{ p1 | safe }}</p>
  <p class="govuk-body-m">{{ p2 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for bullet in bullets %}
      <li>{{ bullet }}</li>
    {% endfor %}
  </ul>
  <h2 class="govuk-heading-l">
    {{ h2 }}
  </h2>
  <h3 class="govuk-heading-m">
    {{ language_.header }}
  </h3>

  {{ govukTable({
    firstCellIsHeader: true,
    caption: caption,
    head: [
      {
        text: name,
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: purpose,
        classes: 'govuk-!-width-one-half'
      },
      {
        text: expires,
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          text: 'i18next'
        },
        {
          text: language_.i18nDescription
        },
        {
          text: language_.i18nDuration
        }
      ]
    ]
  }) }}

  <h3 class="govuk-heading-m">
    {{ preferences.header }}
  </h3>

  {{ govukTable({
    firstCellIsHeader: true,
    caption: caption,
    head: [
      {
        text: name,
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: purpose,
        classes: 'govuk-!-width-one-half'
      },
      {
        text: expires,
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          text: 'fact-cookie-preferences'
        },
        {
          text: preferences.factCookiePreferencesDescription
        },
        {
          text: preferences.factCookiePreferencesDuration
        }
      ]
    ]
  }) }}

  <h3 class="govuk-heading-m">
    {{ analytics.header }}
  </h3>
  <p class="govuk-body-m">{{ analytics.p1 }}</p>
  {{ govukTable({
    firstCellIsHeader: true,
    caption: caption,
    head: [
      {
        text: name,
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: purpose,
        classes: 'govuk-!-width-one-half'
      },
      {
        text: expires,
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          text: '_ga'
        },
        {
          text: analytics.gaDescription
        },
        {
          text: analytics.gaDuration
        }
      ],
      [
        {
          text: '_gid'
        },
        {
          text: analytics.gidDescription
        },
        {
          text: analytics.gidDuration
        }
      ],
      [
        {
          text: '_gat_UA-37377084-3'
        },
        {
          text: analytics.gatDescription
        },
        {
          text: analytics.gatDuration
        }
      ]
    ]
  }) }}

  <h3 class="govuk-heading-m">
    {{ apm.header }}
  </h3>
  <p class="govuk-body-m">{{ apm.p1 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for bullet in apm.bullets %}
      <li>{{ bullet }}</li>
    {% endfor %}
  </ul>
  <p class="govuk-body-m">{{ apm.p2 }}</p>
  {{ govukTable({
    firstCellIsHeader: true,
    caption: caption,
    head: [
      {
        text: name,
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: purpose,
        classes: 'govuk-!-width-one-half'
      },
      {
        text: expires,
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          text: 'dtCookie'
        },
        {
          text: apm.dtCookieDescription
        },
        {
          text: apm.dtCookieDuration
        }
      ],
      [
        {
          text: 'dtLatC'
        },
        {
          text: apm.dtLatCDescription
        },
        {
          text: apm.dtLatCDuration
        }
      ],
      [
        {
          text: 'dtPC'
        },
        {
          text: apm.dtPCDescription
        },
        {
          text: apm.dtPCDuration
        }
      ],
      [
        {
          text: 'dtSa'
        },
        {
          text: apm.dtSaDescription
        },
        {
          text: apm.dtSaDuration
        }
      ],
      [
        {
          text: 'rxVisitor'
        },
        {
          text: apm.rxVisitorDescription
        },
        {
          text: apm.rxVisitorDuration
        }
      ],
      [
        {
          text: 'rxvt'
        },
        {
          text: apm.rxvtDescription
        },
        {
          text: apm.rxvtDuration
        }
      ]
    ]
  }) }}

  <form class="cookie-preferences-form js-show">
    {{ govukRadios({
      classes: 'govuk-radios',
      idPrefix: 'analytics',
      name: 'analytics',
      fieldset: {
        legend: {
          text: "Allow cookies that measure website use?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: 'on',
          text: 'Use cookies that measure my website use'
        },
        {
          value: 'off',
          text: 'Do not use cookies that measure my website use',
          checked: true
        }
      ]
    }) }}
    {{ govukRadios({
      classes: 'govuk-radios',
      idPrefix: 'apm',
      name: 'apm',
      fieldset: {
        legend: {
          text: "Allow cookies that measure website application performance monitoring?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: 'on',
          text: 'Use cookies that measure website application performance monitoring'
        },
        {
          value: 'off',
          text: 'Do not use cookies that measure website application performance monitoring',
          checked: true
        }
      ]
    }) }}
    {{ govukButton({
      text: 'Save'
    }) }}
  </form>

{% endblock %}
