{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "template.njk" %}

{% block pageTitle %}
{{ title }}
{% endblock %}

{% block beforeContent %}
{{ super() }}

{{ govukBackLink({
text: "Back",
href: "/"
}) }}
{% endblock %}

{% set catchmentArea = "the South-East of England" if regionalCentre else "all of England and Wales" %}
{% if results['service-area'] %}
  {% if 'probate' in results['service-area'] %}
    {% set probateService = true %}
  {% elif 'divorce' in results['service-area'] %}
    {% set divorceService = true %}
    {% set civilPartnershipService = true %}
  {% elif 'money' in results['service-area'] %}
    {% set moneyClaimsService = true %}
  {% endif %}
{% endif %}
{% block content %}

<div class="govuk-grid-row" id="court-tribunal-details">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      {{ results.name }}
    </h1>

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        {% if not results['in_person'] %}
          <div id="not-in-person">
            <p class="govuk-body-m">
              This location services {{ catchmentArea }} for {{ results['service_area'] }}. We do not provide an in-person service.
            </p>
            <h2 class="govuk-heading-l postal-address">
              Contact us
            </h2>
            <h3 class="govuk-heading-m">
              {{ results.addresses[0].type }}:
            </h3>
            <p class="govuk-body-m address">
              {{ results.addresses[0].address }}
              {{ results.addresses[0].town }}
              {{ results.addresses[0].postcode }}
            </p>
          </div>
        {% else %}
          {% for address in results.addresses %}
            {% if results.addresses.length > 1 %}
              <div class="govuk-grid-column-one-half multiple-addresses">
                <h2 class="govuk-heading-l">
                  {{ address.type }}:
                </h2>
            {% else %}
              <h2 class="govuk-heading-l single-address">
                {{ address.type }}:
              </h2>
              <h3 class="govuk-heading-m">
                Address
              </h3>
            {% endif %}
              <p class="govuk-body-m address">
                {{ address.address }}
                {{ address.town }}
                {{ address.postcode }}
              </p>
            {% if results.addresses.length > 1 %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>

      {% if results['in_person'] %}
        <div class="govuk-grid-row">
          <p class="govuk-body-m">
            <a class="govuk-link" href="https://maps.google.com/maps?q={{ results.lat }},{{ results.lon }}">Get directions</a>
          </p>
          <p class="govuk-body-m">
            <a class="govuk-link" href="https://www.gov.uk/guidance/what-to-expect-coming-to-a-court-or-tribunal">What to expect coming to a court or tribunal</a>
          </p>
        </div>
      {% endif %}
      {% if results.urgent %}
        <div class="govuk-grid-row" id="urgent-notice">
          {{ govukWarningText({
            text: results.urgent,
            iconFallbackText: "Warning"
          }) }}
        </div>
      {% endif %}

      {% if results.info %}
        <div class="govuk-grid-row" id="additional-info">
          <h3 class="govuk-heading-m">
            Additional Information
          </h3>
          <p class="govuk-body-m">
            {{ results.info }}
          </p>
        </div>
      {% endif %}

      {% if results['opening_times'] and results['opening_times'].length > 0%}
        <div class="govuk-grid-row" id="opening-times">
          <h3 class="govuk-heading-m">
            Opening times
          </h3>
          {% for times in results['opening_times'] %}
            <p class="govuk-body-m">
              {{ times.description }}: {{ times.hours }}
            </p>
          {% endfor %}
        </div>
      {% endif %}

      {% if results.emails and results.emails.length > 0 %}
        <div class="govuk-grid-row" id="emails">
          <h3 class="govuk-heading-m">
            Email
          </h3>
          {% for email in results.emails %}
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <p class="govuk-body-m">
                  {{ email.description}}
                </p>
              </div>
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-body-m">
                  <a class="govuk-link" href="mailto:{{ email.address }}">{{ email.address }}</a>
                  {% if email.explanation %}
                    </br>
                    <p class="govuk-body-m">({{ email.explanation }})</p>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if results.contacts and results.contacts.length > 0 %}
        <div class="govuk-grid-row" id="contacts">
          <h3 class="govuk-heading-m">
            Telephone
          </h3>
          {% for telephone in results.contacts %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <p class="govuk-body-m">
                {{ telephone.description}}
              </p>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-body-m">
                <a class="govuk-link" href="tel:{{ email.address }}">{{ telephone.number }}</a>
                {% if telephone.explanation %}
                </br>
                <p class="govuk-body-m">({{ telephone.explanation }})</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if results['in_person'] and results.facilities.length > 0%}
        <div class="govuk-grid-row" id="building-facilities">
          <h3 class="govuk-heading-m">
            Building facilities
          </h3>
    <!--      <p class="govuk-body-m">-->
    <!--        If you have a disability and need help coming to a hearing, please contact <a href="mailto:">{{ courtEmailEnquiries }}</a> or {{ courtPhoneEnquiries }}.-->
    <!--      </p>-->

          {% for facility in results.facilities %}
            <h4 class="govuk-heading-s">
              {{ facility.name }}
            </h4>
            <p class="govuk-body-m">
              {{ facility.description }}
            </p>
          {% endfor %}
          <h4 class="govuk-heading-s">
            Translators or Interpreters
          </h4>
          <p class="govuk-body-m">
            <a href="https://www.gov.uk/get-interpreter-at-court-or-tribunal">Get an interpreter at a court or tribunal.</a>
          </p>
        </div>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third" id="side-content">
      {% if results['in_person'] %}
        <div class="govuk-grid-row">
          <img src="{{ court.url }}" alt="Front view of {{ results.name }}">
          <p class="govuk-body-s">
            {{ results.name }}
          </p>
        </div>

        {% if results['areas_of_law'] and results['areas_of_law'].length > 0 %}
          <div class="govuk-grid-row" id="areas-of-law">
            <h3 class="govuk-heading-m">
              This location handles:
            </h3>
            <ul class="govuk-list">
              {% for area in results['areas_of_law'] | sort(attribute="service") %}
                <li>
                  <a class="govuk-link" href="{{ area.url }}">{{ area.service }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% else %}
        {% if probateService or divorceService or civilPartnershipService or moneyClaimsService %}
          <div class="govuk-grid-row">
              <h2 class="govuk-heading-m" >
                Related content
              </h2>
              <p class="govuk-body-m">
                Find out more about</br>
                {% if moneyClaimsService %}
                  <a class="govuk-link" href="https://www.gov.uk/make-court-claim-for-money">starting a money claim application</a>
                {% endif%}
                {% if divorceService %}
                  <a class="govuk-link" href="https://www.gov.uk/divorce">starting a divorce application</a>
                </br>
                {% endif%}
                {% if civilPartnershipService %}
                  <a class="govuk-link" href="https://www.gov.uk/end-civil-partnership">ending a civil partnership</a>
                {% endif%}
                {% if probateService %}
                  <a class="govuk-link" href="https://www.gov.uk/applying-for-probate">starting a probate application</a>
                {% endif%}
              </p>
          </div>
        {% endif %}
      {% endif %}
      <div class="govuk-grid-row">
        <h3 class="govuk-heading-m">
          Useful links:
        </h3>
        <p class="govuk-body-m">
          <a class="govuk-link" href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">Contact us to make a complaint</a>
        </p>
      </div>

      {% if results.crown_location_code or results.county_location_code or results.magistrates_location_code or results['dx_number'] %}
        <div class="govuk-grid-row" id="location-codes">
          <h3 class="govuk-heading-m">
            Court codes for legal professionals:
          </h3>
          {% if results.crown_location_code %}
            <p class="govuk-body-m">
              Crown Court location code: <span class="govuk-body-m">{{ results.crown_location_code }}</span>
            </p>
          {% endif %}
          {% if results.county_location_code %}
            <p class="govuk-body-m">
              County Court location code: <span class="govuk-body-m">{{ results.county_location_code }}</span>
            </p>
          {% endif %}
          {% if results.magistrates_location_code %}
            <p class="govuk-body-m">
              Magistrates' Court location code: <span class="govuk-body-m">{{ results.magistrates_location_code }}</span>
            </p>
          {% endif %}
          {% if results['dx_number'] %}
            <p class="govuk-body-m" id="dx-number">
              DX: <span class="govuk-body-m">{{ results['dx_number'] }}</span>
            </p>
          {% endif %}
        </div>
      {% endif %}
      <div class="govuk-grid-row" id="puas">
        <h3 class="govuk-heading-m">
          Professional users’ court and tribunal access scheme
        </h3>
      {% if results.puas %}
        <p class="govuk-body-m" id="is-puas">
          This location participates in this scheme.
        </p>
        <p class="govuk-body-m">
          <a class="govuk-link" href="https://www.gov.uk/guidance/professional-users-court-and-tribunal-access-scheme">
            Register for the scheme
          </a>
        </p>
      {% else %}
        <p class="govuk-body-m" id="is-not-puas">
          This location does not participates in this scheme.
        </p>
        <p class="govuk-body-m">
          <a class="govuk-link" href="https://www.gov.uk/guidance/professional-users-court-and-tribunal-access-scheme">
            Learn about the scheme
          </a>
        </p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
