{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
{{ title }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <p class="govuk-body-m">{{ p1 }}</p>

    <ul class="govuk-list govuk-list--bullet">

      {% for bullet in bullets %}
      <li>{{ bullet }}</li>
      {% endfor %}

    </ul>

    {{ govukButton({
    text: button,
    href: "#",
    classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
    isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">{{ h2 }}</h2>

    <p class="govuk-inset-text">{{ p1_text}}<a class="govuk-link" href="{{ p1_link }}">{{ p1_link_text }}</a>.</p>

    <p class="govuk-body-m">{{ p2_text }}<a href="https://www.justice-ni.gov.uk/topics/courts-and-tribunals" class="govuk-link">{{ p2_link_text }}</a>{{ p2_text2 }}.</p>

    <p class="govuk-body-m">{{ p3_text }}</p>
    <ul>
      {% for bullet in bullets2 %}
      <li class="govuk-body-m">{{ bullet }}</li>
      {% endfor %}
    </ul>

    <p class="govuk-body-m">{{ p4_text }}<a href="https://www.scotcourts.gov.uk/the-courts/the-tribunals" class="govuk-link">{{ p4_link_text }}</a>{{ p4_text2 }}.</p>

  </div>
</div>{% endblock %}
