{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "macros/error-summary.njk" import errorSummary %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
{% if errors %}
  {{ errorSummary(error.title, error.text, "#money-area-of-law-error") }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST">
      {{ govukRadios({
        idPrefix: "money-area-of-law",
        name: "moneyAreaOfLaw",
        fieldset: {
          legend: {
            text: question,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        errorMessage: { text: error.text | safe } if errors,
        items: [
          {
            id: "money-claims",
            text: answers.a1,
            label: {
                classes: "govuk-label--s"
            },
            hint: {
                    text: hint1
            }
          },
          {
            id: "probate",
            text: answers.a2,
            label: {
              classes: "govuk-label--s"
            },
            hint: {
                    text: hint2
            }
          },
          {
            id: "housing",
            text: answers.a3,
            label: {
              classes: "govuk-label--s"
            },
            hint: {
                    text: hint3
            }
          },
          {
            id: "bankruptcy",
            text: answers.a4,
            label: {
                classes: "govuk-label--s"
            },
            hint: {
                    text: hint4
            }
          },
          {
            id: "benefits",
            text: answers.a5,
            label: {
                classes: "govuk-label--s"
            },
            hint: {
                    text: hint5
            }
          },
          {
            id: "claims-against-employers",
            text: answers.a6,
            label: {
                classes: "govuk-label--s"
            },
            hint: {
                    text: hint6
            }
          },
          {
            id: "tax",
            text: answers.a7,
            label: {
                  classes: "govuk-label--s"
            },
            hint: {
                    text: hint7
            }
          },
          {
            id: "minor-criminal-offences",
            text: answers.a8,
            label: {
                  classes: "govuk-label--s"
            },
            hint: {
                    text: hint8
            }
          },
          {
             divider: "or"
          },
          {
             id: "not-listed",
             text: answers.a9,
             label: {
                  classes: "govuk-label--s"
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: button,
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
