{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
    {{ govukHeader({
        containerClasses: "govuk-width-container",
        serviceName: serviceName | safe,
        serviceUrl: (globals.basePath if globals.basePath) + "/"
    }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: feedback + languageToggle
    })
  }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
