{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
    {{ govukHeader({
        containerClasses: "govuk-width-container",
        serviceName: serviceName | safe,
        serviceUrl: (globals.basePath if globals.basePath) + "/"
    }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: feedback + languageToggle
    })
  }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help",
          text: "Help"
        },
        {
          href: "https://www.gov.uk/contact",
          text: "Contact"
        },
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        },
        {
          href: "",
          text: "Cookies"
        },
        {
          href: "https://find-court-tribunal.service.gov.uk/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "https://www.gov.uk/help/terms-conditions",
          text: "Terms and conditions"
        },
        {
          href: "https://www.gov.uk/cymraeg",
          text: "Rhestr o Wasanaethau Cymraeg"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
