{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block head %}
  {% include "webpack/css.njk" %}
  <script>
    dataLayer = [];
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
  {'gtm.start': new Date().getTime(),event:'gtm.js'}

  );var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N7NMJDR');</script>

  {% if showCookieBanner %}
    <div class="global-cookie-message" id="cookie_banner">
      <div class="govuk-width-container">
          <h1 class="govuk-heading-m">Tell us whether you accept cookies</h1>
          <p class="govuk-body-s">
            We use <a href="/cookies">cookies to collect information</a> about how you use the {{
            service_name }} service. </p>
          <p class="govuk-body-s"> We use this information to make the website work as well as
            possible and improve our services.</p>
          <button type="submit" class="govuk-button">Accept all cookies</button>
          <a class="govuk-button" href="/cookies">Set cookie preferences</a>
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block bodyStart %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7NMJDR"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block header %}
    {{ govukHeader({
        containerClasses: "govuk-width-container",
        serviceName: serviceName | safe,
        serviceUrl: (globals.basePath if globals.basePath) + "/"
    }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: feedback + languageToggle
    })
  }}
  <a href="/" class="govuk-back-link" onclick="goBack(event);">{{ backLink }}</a>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help",
          text: help
        },
        {
          href: "https://www.gov.uk/contact",
          text: contact
        },
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: privacy
        },
        {
          href: "/cookies",
          text: cookies
        },
        {
          href: "/accessibility-statement",
          text: accessibility
        },
        {
          href: "https://www.gov.uk/help/terms-conditions",
          text: termsAndConditions
        },
        {
          href: "https://www.gov.uk/cymraeg",
          text: usingServicesInWelsh
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script>
  function goBack(e) {
    e.preventDefault();
    history.go(-1);
  }
  </script>
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
