{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro errorSummary(title, text, href) %}
  {{ govukErrorSummary({
    titleText: title,
    errorList: [
      {
        text: text,
        href: href
      }
    ]
  }) }}
  <script>
    dataLayer.push({"errormsg": {{ text | dump | safe }}, "event": "Error shown"})
  </script>
{% endmacro %}
