{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro searchField(question, hint, text, button) %}
  <h1 class="govuk-heading-xl">{{ question }}</h1>
  <div id="header-hint" class="govuk-hint">
    {{ hint }}
  </div>
  <form method="POST">
    {{ govukInput({
      label: {
        text: text,
        classes: "govuk-label--m",
        isPageHeading: true
      },
      id: "search",
      name: "search"
    }) }}
    {{ govukButton({
      text: button,
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}
  </form>
{% endmacro %}
