{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "macros/error-summary.njk" import errorSummary %}

{% extends "template.njk" %}

{% block pageTitle %}
  {% if error %}
    {{ errorTitle }}
  {% endif %}
  {% if (path !== '/search-by-name') %}
    {{ resultsTitle }}
  {% else %}
    {{ title }}
  {% endif %}
{% endblock %}

{% block content %}
{% if error %}
  {{ errorSummary(error.title, error.text, "#search") }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if courtHistoryFlag %}
      {% set courtHistory %}
        <p class="govuk-notification-banner__heading">
          {{ courtHistoryText }}
          <a class="govuk-notification-banner__link" href="/courts/{{ courtHistoryCourt.slug }}">{{ courtHistoryCourt.name }}</a>.
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: courtHistory
      }) }}
    {% endif %}

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        {{ question }}
      </h1>
    </legend>

    <div id="know-location-hint" class="govuk-hint">
      {{ hint }}
    </div>

    <form method="GET" action="/courts">
      {{ govukInput({
        label: {
          text: text,
          classes: "govuk-label govuk-label--m"
        },
        hint: {
          text: textExample
        },
        classes: "govuk-input govuk-!-width-three-quarters",
        id: "search",
        name: "search",
        value: search,
        errorMessage: { text: errorText[errorType] } if error
      }) }}
      {{ govukButton({
        text: button,
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8 continue",
        type: submit
      }) }}
    </form>

    {% if (path !== '/search-by-name') and (results.length > 0) %}
      <p role="status" class="govuk-body">{{ foundResult if results.length === 1 else foundResults }}</p>
      <p class="govuk-body">{{ mostRelevant }}</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <div class="search-results" id="search-results">
        {% for item in results %}
          <h2 class="govuk-heading-m">
            <a class="govuk-link" href="/courts/{{ item.slug }}">{{ item.name }}</a>
          </h2>
        {% endfor %}
      </div>
    {% elif (path !== '/search-by-name') %}
      <div class="no-search-results" id="no-search-results">
        <p  role="status" class="govuk-body-m govuk-!-font-weight-bold">{{ noResults.p1 }}</p>
        <p class="govuk-body">{{ noResults.p2 }}</p>
        <ul class="govuk-list govuk-list--bullet">
        {% for item, text in noResults.list %}
          <li>{{ text }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
