{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "macros/search-field.njk" import searchField %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: '/search-option'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ searchField(question, hint, text, button) }}
  </div>
</div>

{% endblock %}
