{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/error-summary.njk" import errorSummary %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: '/search-option'
  }) }}
{% endblock %}

{% block content %}
{% if error %}
  {{ errorSummary(error.title, error.text, "#search") }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ question }}
      <span id="header-hint" class="govuk-hint">
        {{ hint }}
      </span>
    </h1>
    <form method="GET" action="/courts">
      <div class="govuk-form-group {{ 'govuk-form-group--error' if error.text }}" id="form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="search">
            {{ text | safe }}
          </label>
          <div id="event-name-hint" class="govuk-hint">
            {{ textExample | safe }}
          </div>

          {% if (error.text) %}
            <span id="search-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ error.text | safe }}
            </span>
          {% endif %}
        </h2>
        <input class="govuk-input govuk-!-width-three-quarters {{ 'govuk-input--error' if error.text }}" id="search" name="search" type="text" value="{{ search | safe }}">
        <button type="submit" class="govuk-button">Search</button>
      </div>
    </form>

    {% if (path !== '/search') and (results.length > 0) %}
      <p class="govuk-body">{{ foundResults | safe }}</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <div class="search-results" id="search-results">
        {% for item in results %}
          <h2 class="govuk-heading-m">
            <a class="govuk-link" href="/courts/{{ item.slug }}">{{ item.name }}</a>
          </h2>
        {% endfor %}
      </div>
    {% elif (path !== '/search') %}
      <div class="no-search-results" id="no-search-results">
        <p class="govuk-body-m govuk-!-font-weight-bold">{{ noResults.p1 }}</p>
        <p class="govuk-body">{{ noResults.p2 }}</p>
        <ul class="govuk-list govuk-list--bullet">
        {% for item, text in noResults.list %}
          <li>{{ text | safe }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
