{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
             {{ question }}
            </h1>
          </legend>
          <div id="do-you-know-the-name-hint" class="govuk-hint">
            {{ hint.text }}
          </div>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="i-have-the-name" name="knowName" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="i-have-the-name">
                {{ answers.a1 }}
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="i-do-not-have-the-name" name="knowName" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="i-do-not-have-the-name">
                {{ answers.a2 }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      {{ govukButton({
        text: button,
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
