{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "macros/error-summary.njk" import errorSummary %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}
{% if errors %}
  {{ errorSummary(error.title, error.text, "#i-have-the-name") }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST">
      {{ govukRadios({
        idPrefix: "know-location",
        name: "knowLocation",
        fieldset: {
          legend: {
            text: question,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        hint: {
          text: hint
        },
        errorMessage: { text: error.text } if errors,
        items: [
          {
            id: "i-have-the-name",
            value: "yes",
            text: answers.a1
          },
          {
            id: "i-do-not-have-the-name",
            value: "no",
            text: answers.a2
          }
        ]
      }) }}
      {{ govukButton({
        text: button,
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
