Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve '/Users/adamstevenson/repos/fact-frontend/src/main/views/webpack/css-template.njk' in '/Users/adamstevenson/repos/fact-frontend'
  ModuleNotFoundError: Module not found: Error: Can't resolve '/Users/adamstevenson/repos/fact-frontend/src/main/views/webpack/css-template.njk' in '/Users/adamstevenson/rep  os/fact-frontend'
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/Compilation.js:2013:28
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:795:13
      at eval (eval at create (/Users/adamstevenson/repos/fact-frontend/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:10:1)
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:275:22
      at eval (eval at create (/Users/adamstevenson/repos/fact-frontend/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:9:1)
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:431:22
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:128:11
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:667:25
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:852:8
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:972:5
  Module not found: Error: Can't resolve '/Users/adamstevenson/repos/fact-frontend/src/main/views/webpack/js-template.njk' in '/Users/adamstevenson/repos/fact-frontend'
  ModuleNotFoundError: Module not found: Error: Can't resolve '/Users/adamstevenson/repos/fact-frontend/src/main/views/webpack/js-template.njk' in '/Users/adamstevenson/repo  s/fact-frontend'
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/Compilation.js:2013:28
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:795:13
      at eval (eval at create (/Users/adamstevenson/repos/fact-frontend/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:10:1)
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:275:22
      at eval (eval at create (/Users/adamstevenson/repos/fact-frontend/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:9:1)
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:431:22
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:128:11
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:667:25
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:852:8
      at /Users/adamstevenson/repos/fact-frontend/node_modules/webpack/lib/NormalModuleFactory.js:972:5
  
  - Compilation.js:2013 
    [fact-frontend]/[webpack]/lib/Compilation.js:2013:28
  
  - NormalModuleFactory.js:795 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:795:13
  
  
  - NormalModuleFactory.js:275 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:275:22
  
  
  - NormalModuleFactory.js:431 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:431:22
  
  - NormalModuleFactory.js:128 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:128:11
  
  - NormalModuleFactory.js:667 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:667:25
  
  - NormalModuleFactory.js:852 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:852:8
  
  - NormalModuleFactory.js:972 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:972:5
  
  - Module not found: Error: Can't resolve '/Users/adamstevenson/repos/fact-frontend/src/main/views/webpack/js-template.njk' in '/Users/adamstevenson/repos/fact-frontend'
  
  - ModuleNotFoundError: Module not found: Error: Can't resolve '/Users/adamstevenson/repos/fact-frontend/src/main/views/webpack/js-template.njk' in '/Users/adamstevenson/re    pos/fact-frontend'
  
  - Compilation.js:2013 
    [fact-frontend]/[webpack]/lib/Compilation.js:2013:28
  
  - NormalModuleFactory.js:795 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:795:13
  
  
  - NormalModuleFactory.js:275 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:275:22
  
  
  - NormalModuleFactory.js:431 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:431:22
  
  - NormalModuleFactory.js:128 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:128:11
  
  - NormalModuleFactory.js:667 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:667:25
  
  - NormalModuleFactory.js:852 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:852:8
  
  - NormalModuleFactory.js:972 
    [fact-frontend]/[webpack]/lib/NormalModuleFactory.js:972:5
  
  - child-compiler.js:169 
    [fact-frontend]/[html-webpack-plugin]/lib/child-compiler.js:169:18
  
  - Compiler.js:564 
    [fact-frontend]/[webpack]/lib/Compiler.js:564:11
  
  - Compiler.js:1183 
    [fact-frontend]/[webpack]/lib/Compiler.js:1183:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [fact-frontend]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1179 
    [fact-frontend]/[webpack]/lib/Compiler.js:1179:33
  
  - Compilation.js:2784 finalCallback
    [fact-frontend]/[webpack]/lib/Compilation.js:2784:11
  
  - Compilation.js:3089 
    [fact-frontend]/[webpack]/lib/Compilation.js:3089:11
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [fact-frontend]/[tapable]/lib/Hook.js:18:14
  
</pre>